.form {
  background-color: rgb(87, 31, 241);
}
.wrapper {
  background-color: lightblue;
}
.input {
  background-color: rgb(87, 31, 241);
}

.input::placeholder {
  color: white;
}
.head {
  color: rgb(87, 31, 241);
}

.box input:focus {
  background-color: rgb(87, 31, 241);
  color: white;
}

@media screen and (max-width: 768px) {
  .wrapper {
    background-color: lightblue;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    background-color: white;
  }
}
